Repository calliecameron/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, tombi format, tombi lint

markdownlint:
  name: markdownlint
  language: system
  entry: bash -c 'source "${NVM_DIR}/nvm.sh" && npx markdownlint-cli2 --fix "${@}"' --

tombi format:
  name: tombi format
  language: system
  entry: uv run tombi format

tombi lint:
  name: tombi lint
  language: system
  entry: uv run tombi lint

Remove executable permissions from tests
  tests/core/bash.bats
  tests/core/bin.bats
  tests/core/dash.bats
  tests/core/emacs.bats
  tests/core/zsh.bats
  tests/install/test.bats
  tests/packages/dir-funcs.bats
  tests/packages/misc.bats
Due: none

Fix bin.bats on CI
  tests/core/bin.bats
Due: none

Clean up tests
  Makefile
  tests/core/bash.bats
  tests/core/dash.bats
  tests/core/emacs.bats
  tests/core/helpers.bash
  tests/core/zsh.bats
  tests/install/test.bats
  tests/packages/dir-funcs.bats
  tests/packages/misc.bats
  tests/python-version.bats
Due: none

Debug github action
  .github/workflows/ci.yml
Due: none

Debug github action
  .github/workflows/ci.yml
  packages/emacs/install
  packages/emacs/install-emacs.sh
Due: none

Tweak vscode
  packages/vscode/settings.json
Due: none

Htoprc
  packages/htop/htoprc
Due: none

Tweak emacs
  packages/emacs/install-emacs.sh
Due: none

Apply template
  .copier-answers.yml
  .pre-commit-config.yaml
  .template_files/npm_post_install
  .template_files/npm_update_deps
  .template_files/npm_update_node
  .template_files/pre_commit_install
  .template_files/pre_push
  .template_files/uv_outdated_deps.py
  .template_files/uv_post_install
  .template_files/uv_update_deps
  .template_files/uv_update_deps_internal.py
  .template_files/uv_update_python
  Makefile
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: tombi format, tombi lint

Apply template
  .copier-answers.yml
Due: none

Update deps
  .github/workflows/ci.yml
Due: none

Fix podman daemon setup
  packages/container-tools/install
Due: none

Update deps
  .github/workflows/ci.yml
  .nvmrc
  package-lock.json
  pyproject.toml
  uv.lock
Due: tombi format, tombi lint

Apply template
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .template_files/uv_latest_python.py
  .template_files/uv_update_deps_internal.py
  .template_files/uv_update_python
  Makefile
  README.md
  pyproject.toml
  uv.lock
Due: markdownlint, tombi format, tombi lint

Tweak vscode
  packages/vscode/install
  packages/vscode/settings.json
Due: none

Update deps
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: tombi format, tombi lint

Update template
  .ast_grep/rules/special-method-raises-notimplementederror.yml
  .ast_grep/tests/__snapshots__/special-method-raises-notimplementederror-snapshot.yml
  .ast_grep/tests/special-method-raises-notimplementederror-test.yml
  .copier-answers.yml
  .pre-commit-config.yaml
  .prettierignore
  .template_files/npm_post_install
  .template_files/uv_latest_python.py
  .template_files/uv_update_deps_internal.py
  .vscode/settings.json
  .yamllint.yml
  Makefile
  pyproject.toml
  sgconfig.yml
  uv.lock
Due: tombi format, tombi lint

Update emacs-launchers branch
  packages/emacs-launchers/install
Due: none

Update emacs-term-integration branches
  packages/emacs-term-integration/install
Due: none

Pipewire tweaks
  packages/xps13-9320-drivers/custom.conf
  packages/xps13-9320-drivers/env.sh
Due: none

Update xps13 drivers
  packages/xps13-9320-drivers/install
Due: none

Update template
  .copier-answers.yml
  .github/workflows/ci.yml
  .nvmrc
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: tombi format, tombi lint

Fix duckstation
  packages/emulators/bin/duckstation
  packages/emulators/duckstation-desktop-template
  packages/emulators/duckstation.png
  packages/emulators/env.sh
  packages/emulators/install
Due: none

Stop using nix for wine
  packages/lego/bin/lego-studio
  packages/lego/install
  packages/wine/can-install
  packages/wine/install
Due: none

Update template
  .copier-answers.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: tombi format, tombi lint

Update emacs
  packages/emacs/emacs-daemon-desktop-template
  packages/emacs/install-emacs.sh
Due: none

Switch emacs config to elpaca
  core/dotfiles.el
  core/environment-variables.sh
  core/generic-aliases.bash
  core/templates/early-init.el
  elpaca-lock.el
  install.sh
  packages/emacs-launchers/env.sh
  packages/emacs-launchers/install
  packages/emacs-term-integration/elisp/dotfiles-term.el
  packages/emacs-term-integration/elisp/term-debug.el
  packages/emacs-term-integration/emacs.el
  packages/emacs/aliases.sh
  packages/emacs/elisp/dotfiles-c.el
  packages/emacs/elisp/dotfiles-lisp.el
  packages/emacs/elisp/dotfiles-misc.el
  packages/emacs/elisp/dotfiles-prog.el
  packages/emacs/elisp/dotfiles-sh.el
  packages/emacs/elisp/dotfiles-tex.el
  packages/emacs/elisp/dotfiles-ui.el
  packages/emacs/elisp/dotfiles-vc.el
  packages/emacs/emacs.el
  packages/emacs/env.sh
  packages/emacs/install
  packages/recycle-bin/elisp/dotfiles-recycle-bin.el
  packages/recycle-bin/emacs.el
  tests/core/emacs.bats
  tests/core/helpers.bash
  tests/install/test.bats
Due: none

Tweak emacs packages
  elpaca-lock.el
  packages/emacs/can-install
  packages/emacs/elisp/dotfiles-ui.el
  packages/emacs/elisp/dotfiles-vc.el
  packages/web-fonts/install
Due: none

Fix podman updating
  packages/container-tools/install
Due: none

Fix xps13 drivers
  packages/xps13-9320-drivers/install
Due: none

Update vbox
  packages/vm-tools/install
Due: none

Add global npmrc
  packages/node/install
  packages/node/npmrc
Due: none

Update template
  .copier-answers.yml
  .github/workflows/ci.yml
  .npmrc
  .nvmrc
  .pre-commit-config.yaml
  .template_files/bats
  .template_files/npm_install_deps
  .template_files/npm_update_deps
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: tombi format, tombi lint

Update deps
  .github/workflows/ci.yml
  pyproject.toml
Due: tombi format, tombi lint

Remove anki
  packages/anki/aliases.sh
  packages/anki/can-install
  packages/anki/install
Due: none

Update nixpkgs to 25.11
  packages/04-nix/bin/dotfiles-nix-install
  packages/04-nix/env.sh
  packages/04-nix/install
  packages/text-tools/install
  packages/web-dev-tools/install
Due: none

Clean up emacs install
  packages/emacs/install-emacs.sh
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^packages/htop/htoprc$
  tombi format: any of: \.toml$, but not: ^packages/htop/htoprc$
  tombi lint: any of: \.toml$, but not: ^packages/htop/htoprc$
